body {
    background-color: #455A64;
    margin: 0;
}

.container {
    max-width: 900px;
    background-color: #455A64;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.editor {
    background-color: purple;
    border: solid black 1px;
    margin: 0;
    box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.29);
    position: absolute;
    top: 70px;
    left: 70px;
}

.header {
    background-color: #03A9F4;
    border-bottom: solid 1px grey;
    padding: 5px;
    cursor: pointer;
}

.title {
    padding-left: 10px;
    font-size: 20px;
    color: white;
    margin: 0;
    font-family: 'Lobster', cursive;
}

.text {
    height: 280px;
    width: 400px;
}

#textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    resize: none;
    background-color: #FFFFFF;
    overflow: scroll;
}

.previewDiv {
    background-color: #CFD8DC;
    border: solid black 1px;
    box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.29);
    position: absolute;
    top: 70px;
    left: 700px;
}

.previewer {
    padding: 10px;
    width: 400px;
    height: 400px;
    overflow: scroll;
    overflow-wrap: break-word;
    box-sizing: border-box;
    color: rgb(82, 91, 100);
    font-family: 'PT Sans Narrow', sans-serif;
}

@media (max-width: 900px) {
    .previewDiv {
        top: 500px;
        left: 70px;
    }
}

.icon {
    width: 50px;
    padding-right: 20px;
    float: right;
}

.aboutDiv {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    opacity: 0.9;
    box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.29);
    display: none;
}

#cross {
    width: 20px;
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
}

.about-title {
    color: #03A9F4;
}

.hidden {
    
}

